[run]
source = .
omit =
    */tests/*
    */migrations/*
    */selenium/*
    */static/*
    Dockerfile
    manage.py
    */urls.py
    */*_test.py
    */*_tests.py
    venv/*

[report]
show_missing = True